.head {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 160px;
}

.head p {
    font-family: "Source Serif Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #c4c4c4;
}

.head .switcher {
    display: flex;
    align-items: center;
    margin-top: 7px;
}

.head .switcher h2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    color: #ffffff;
}

.head .switcher .switcherBtns {
    display: flex;
    align-items: center;
    gap: 10px;
}

.head .switcher .switcherBtns button {
    background: #26262c;
    border: 1px solid #000000;
    border-radius: 5px;
    cursor: pointer;
}

.head .switcher .switcherBtns button:hover {
    border: 1px solid #292929;
    background: #35353d;
}

@media only screen and (max-width: 600px) {
    .head {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .head .switcher .switcherBtns {
        margin-left: 15px;
    }

    .head .switcher h2 {
        font-size: 22px;
        line-height: 24px;
        min-width: 190px;
    }

    .head .switcher .switcherBtns button {
        width: 45px;
        min-width: 45px;
        height: 45px;
        min-height: 45px;
    }
}

@media only screen and (min-width: 600px) {
    .head {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .head .switcher .switcherBtns {
        margin-left: 60px;
    }

    .head .switcher h2 {
        font-size: 30px;
        line-height: 37px;
        min-width: 260px;
    }

    .head .switcher .switcherBtns button {
        width: 53px;
        min-width: 53px;
        height: 53px;
        min-height: 53px;
    }
}

@media only screen and (min-width: 768px) {
    .head {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .head .switcher .switcherBtns {
        margin-left: 130px;
    }
}
