.wrap {
    margin-bottom: 11px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 18px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #e8e8e8;
}

.wrap .orderNumber {
    width: 10%;
}

.wrap .orderDate {
    width: 20%;
}

.wrap .orderName {
    width: 55%;
}

.wrap .orderPrice {
    width: 25%;
    text-align: right;
    font-weight: 700;
    white-space: nowrap;
}

@media only screen and (max-width: 600px) {
    .wrap {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        border-bottom: 1px solid #918f8f;
        margin-bottom: 20px;
        padding-bottom: 10px;
    }

    .wrap .orderPrice {
        text-align: left;
    }
}

@media only screen and (min-width: 600px) {
    .wrap {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        border-bottom: 1px solid #918f8f;
        margin-bottom: 20px;
        padding-bottom: 10px;
    }

    .wrap .orderPrice {
        text-align: left;
    }
}

@media only screen and (min-width: 992px) {
    .wrap {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-bottom: none;
        margin-bottom: 11px;
        padding-bottom: 0px;
    }

    .wrap .orderPrice {
        text-align: right;
    }
}
