.wrap {
    margin-bottom: 11px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 18px;
}

.wrap p {
    font-family: "Montserrat";
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    color: #e8e8e8;
}

.wrap p.name {
    font-weight: 500;
    width: 30%;
    text-align: start;
}

.wrap p.volume {
    font-weight: 700;
    width: 20%;
    text-align: end;
}

.wrap .value {
    width: 50%;
}
