.wrap {
    width: 100%;
    display: flex;
    gap: 18px;
    font-family: "Montserrat";
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    color: #e8e8e8;
}

.wrap p.name {
    width: 30%;
    text-align: start;
}

.wrap p.volume {
    font-weight: 700;
    width: 20%;
}

.wrap .value {
    width: 50%;
    display: flex;
    justify-content: flex-start;
}

.wrap .value .percent {
    height: 18px;
    background: #2066d2;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
}

.wrap .value:hover .percent {
    transform: scaleY(1.25);
}

.wrap .value .percent span {
    opacity: 0;
    transform: scaleY(0.75);
    position: absolute;
    right: -50px;
}

.wrap .value:hover .percent span {
    opacity: 100;
}

@media only screen and (max-width: 600px) {
    .wrap {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        border-bottom: 1px solid #918f8f;
        margin-bottom: 20px;
        padding-bottom: 10px;
    }

    .wrap p.volume {
        text-align: left;
    }
}

@media only screen and (min-width: 600px) {
    .wrap {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        border-bottom: 1px solid #918f8f;
        margin-bottom: 20px;
        padding-bottom: 10px;
    }
}

@media only screen and (min-width: 992px) {
    .wrap {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-bottom: none;
        margin-bottom: 11px;
        padding-bottom: 0px;
    }

    .wrap p.volume {
        text-align: right;
    }
}
