.wrapper {
    min-height: 100vh;
    width: 100%;
    background: #000;
    color: white;
    overflow: hidden;
}

.wrapper .bg {
    position: relative;
    z-index: 1;
}

.wrapper .bg .circleOne {
    position: absolute;
    width: 795px;
    height: 795px;
    top: -65px;
    right: -250px;
    border-radius: 50%;
    background: linear-gradient(
        251.89deg,
        rgb(152, 37, 95) 15.71%,
        rgba(30, 26, 28, 0.52) 80.03%
    );
}

.wrapper .bg .circleSec {
    position: absolute;
    width: 795px;
    height: 795px;
    top: -450px;
    right: -494px;
    background: linear-gradient(
        17deg,
        rgb(152, 37, 95) 21.65%,
        rgba(30, 26, 28, 0.52) 70.64%
    );
    border-radius: 50%;
}

.wrapper .bg .circleThr {
    position: absolute;
    width: 795px;
    height: 795px;
    right: -728px;
    top: -64px;
    background: linear-gradient(
        156.67deg,
        rgb(152, 37, 95) 14.94%,
        rgba(30, 26, 28, 0.52) 62.89%
    );
    border-radius: 50%;
}

.wrapper .bg .circleOne:hover,
.wrapper .bg .circleSec:hover,
.wrapper .bg .circleThr:hover {
    transform: scale(1.05);
}

.wrapper .container {
    padding: 40px;
    position: relative;
    z-index: 2;
}

.wrapper h1 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 100px;
}

.wrapper .loadingWrap {
    width: 100%;
    display: flex;
    justify-content: center;
}

.wrapper .columns {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 17px;
    z-index: 3;
    margin-bottom: 35px;
}

@media only screen and (max-width: 600px) {
    .wrapper .container {
        padding: 20px;
    }

    .wrapper h1 {
        font-size: 30px;
        line-height: 50px;
    }

    .wrapper .columns {
        flex-direction: column;
    }
}

@media only screen and (min-width: 600px) {
    .wrapper h1 {
        font-size: 80px;
        line-height: 100px;
    }

    .wrapper .columns {
        flex-direction: column;
    }
}

@media only screen and (min-width: 992px) {
    .wrapper h1 {
        font-size: 150px;
        line-height: 175px;
    }

    .wrapper .columns {
        flex-direction: row;
    }
}

@media only screen and (min-width: 1200px) {
    .wrapper h1 {
        font-size: 192px;
        line-height: 225px;
    }
}
