.wrapper {
    min-height: 100vh;
    width: 100%;
    background: #000;
    color: white;
    overflow: hidden;
}

.wrapper .bg {
    position: relative;
    z-index: 1;
}

.wrapper .bg .circleOne {
    position: absolute;
    width: 795px;
    height: 795px;
    top: -65px;
    right: -250px;
    border-radius: 50%;
    background: linear-gradient(
        251.89deg,
        rgb(152, 37, 95) 15.71%,
        rgba(30, 26, 28, 0.52) 80.03%
    );
}

.wrapper .bg .circleSec {
    position: absolute;
    width: 795px;
    height: 795px;
    top: -450px;
    right: -494px;
    background: linear-gradient(
        17deg,
        rgb(152, 37, 95) 21.65%,
        rgba(30, 26, 28, 0.52) 70.64%
    );
    border-radius: 50%;
}

.wrapper .bg .circleThr {
    position: absolute;
    width: 795px;
    height: 795px;
    right: -728px;
    top: -64px;
    background: linear-gradient(
        156.67deg,
        rgb(152, 37, 95) 14.94%,
        rgba(30, 26, 28, 0.52) 62.89%
    );
    border-radius: 50%;
}

.wrapper .bg .circleOne:hover,
.wrapper .bg .circleSec:hover,
.wrapper .bg .circleThr:hover {
    transform: scale(1.05);
}

.wrapper .container {
    padding: 40px;
    position: relative;
    z-index: 2;
}

.wrapper .head {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 160px;
}

.wrapper .head p {
    font-family: "Source Serif Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #c4c4c4;
}

.wrapper .head .countdown span {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: right;
    color: #fff;
}

.wrapper .head .switcher {
    display: flex;
    align-items: center;
    margin-top: 7px;
}

.wrapper .head .switcher h2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: #ffffff;
    min-width: 220px;
}

.wrapper .head .switcher .switcherBtns {
    display: flex;
    align-items: center;
    margin-left: 130px;
    gap: 10px;
}

.wrapper .head .switcher .switcherBtns button {
    padding: 10px;
    background: #26262c;
    border: 1px solid #000000;
    border-radius: 5px;
    cursor: pointer;
}

.wrapper .head .switcher .switcherBtns button:hover {
    border: 1px solid #292929;
    background: #35353d;
}

.wrapper h1 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 192px;
    line-height: 225px;
    color: #ffffff;
    margin-bottom: 100px;
}

.wrapper .loadingWrap {
    width: 100%;
    display: flex;
    justify-content: center;
}

.wrapper .columns {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 17px;
    z-index: 3;
}
